.offers{
  width: 65%;
  height: 60vh;
  display: flex;
  margin-top: 170px;
  padding: 0px 270px;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.offers-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.offers-left h1{
  color: #171717;
 
 margin-left: 40px;
  font-size: 40px;
  font-weight: 700;
}
.offers-left p{
  color: #171717;
  font-size: 22px;
  font-weight: 600;
}
.offers-left button{
  width: 282px;
  height: 70px;
  border-radius: 35px;
  background: #ff4141;
  border: none; color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
}
.offers-right{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

}
.offers-right img{
  width: 300px;
}